@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Tangerine', 'cursive';
}

h1{
    text-align: center;
    padding: 3vh 0 0 0;
}
.menu{
    background-color:#66363C;
    color: #F2EBD9;
}
.menu ul{
    padding:1vh 0 0 0;
    list-style-type: square;
    font-size: 2rem;
    text-align: center;
}
.note{
    background-color: #F2EBD9;
    color: #66363C;
    display: grid;
    grid-template-rows: 3fr 1fr 2fr 6fr 2fr 8fr;
    grid-template-columns: 1fr 16fr 1fr 1fr;
}
button{
    margin: 12px;
    border-radius: 10px;
    background-color: #66363C;
    color:#F2EBD9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.note h1{
    grid-row: 1/2;
    grid-column: 1/5;
}
.note h3{
    grid-row: 2/3;
    grid-column: 4/5;
}
.new_note{
    grid-row: 3/4;
    grid-column: 1/2;
}
.dark_theme{
    grid-row: 3/4;
    grid-column: 4/5;
}
textarea{
    grid-row: 4/5;
    grid-column: 1/5;
    margin: 12px;
}
.save{
    grid-row: 5/6;
    grid-column: 3/4;
}
.cancel{
    grid-row: 5/6;
    grid-column: 4/5;
}

footer{
    grid-row: 6/7;
    grid-column: 1/5;
    text-align: center;
}
.note img{
    width: 20px;
    height: 20px;
}
.note ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

@media screen and (min-width:400){
    body{
        display: flex;
    }
    .menu{
        width: 20%;
        height: 100vh;
        
    }
    .note{
        width: 80%;
        height: 100vh;
    }
}