@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Tangerine', 'cursive';
}
body{
    flex-wrap: wrap;
    display: flex;
}
h1{
    text-align: center;
    padding: 3vh 0 0 0;
}
.menu{
    background-color:#66363C;
    color: #F2EBD9;
    width: 20vw;
}
.menu ul{
    padding:1vh 0 0 3vw;
    list-style-type: square;
}


.note{
    background-color: #F2EBD9;
    color: #66363C;
    width: 80vw;
}
.note img{
    width: 2vw;
    height: 2vw;
}