@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    padding: 3vh 0 0 0;
    font-size: 1.2rem;
}
.menu{
    background-color:#66363C;
    color: #F2EBD9;
    width: 20%;
    min-height: 100vh;

    position: fixed;
    float: left; 
    /* add position: fixed and float: left to make sure .menu section keeps on left */
}
.menu.dark_theme{
    background-color: #3E2324;
    color: #E8DCC0;
}
.menu ul{
    padding:2vh 0 0 0;
    font-size: 0.8rem;
    text-align: center;
    list-style-type: square;
}
.menu li{
    margin-top: 1rem;
}

.note{
    width: 80%;
    min-height: 100vh;
    float: right;
    background-color: #F2EBD9;
    color: #66363C;
    display: grid;
    grid-template-rows: 3fr 1fr 2fr 6fr 2fr 8fr;
    grid-template-columns: 1fr 16fr 1fr 1fr;
    position: relative;
}
.note.dark_theme{
    background-color: #E8DCC0;
    color: #3E2324;
}
button{
    max-height: 3rem;
    min-width: 3rem;
    margin: 12px;
    border-radius: 8px;
    background-color: #66363C;
    color:#F2EBD9;
    font-size: 0.8rem;
}
.note h1{
    grid-row: 1/2;
    grid-column: 1/5;
}
.note h2{
    font-size: 0.8rem;
}
.note h3{
    font-size: 1rem;
    grid-row: 2/3;
    grid-column: 4/5;
}
.new_note{
    grid-row: 3/4;
    grid-column: 1/2;
}
.dark_theme{
    grid-row: 3/4;
    grid-column: 4/5;
}
textarea {
    grid-row: 4/5;
    grid-column: 1/5;
    margin: 12px;
    min-height: 200px;
}
textarea.dark_theme{
    grid-row: 4/5;
    grid-column: 1/5;
    margin: 12px;
    min-height: 200px;
    background-color: gray;
    color: whitesmoke;
}
.save{
    grid-row: 5/6;
    grid-column: 3/4;
}
.cancel{
    grid-row: 5/6;
    grid-column: 4/5;
}

footer{
    grid-row: 6/7;
    grid-column: 1/5;

    position: absolute;
    bottom: 10vh;
    right:40%;
}
.note img{
    width: 20px;
    height: 20px;
}
.note ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.hid{
    display: none;
}
.show{
    display: block;
}

.menu li{
    cursor: pointer;
}

@media screen and (min-width:480px){ 
    /* fixed media query problem: add 'px'   */
    footer{
        position: absolute;
        top: 12vh;
        text-align: center;
        left:40%;
    }
}